<div class="analisis-card">
    <div class="image-container">
        <img src="./assets/dummy.png" class="image">
    </div>
    <div class="info-container">
        <div class="tags-date-section">
            <!-- Tags and date section -->
            <!-- Replace the tags and date placeholders with your desired content -->
            <div class="tags">
                <div class="tag">NFT</div>
                <div class="tag">DeFi</div>
                <div class="tag">Metaverso</div>
            </div>
            <div class="date">
                <!-- Your date content -->
            </div>
        </div>
        <div class="title-section">
            <!-- Title section -->
            <span class="title">Titulo nota</span>
            <div class="author">por @NombreAutor</div>
            <!-- <div class="author">{{ author }}</div> -->
        </div>
    </div>
</div>