<div class="cardd">
    <div class="card-body">
        <div class="details-container">
            <div class="title">Celo Incuba</div>
            <p class="description">
                ¡Gracias, Celo Incuba, por ser nuestro primer gran apoyo en este viaje! Estamos emocionados de ser parte de tu programa y de dar los primeros pasos con Kairos Research. Juntos, estamos construyendo el futuro de la tecnología blockchain en español. Agradecemos esta oportunidad y esperamos seguir creciendo.
            </div>
        <div class="image-container">
            <img src="./assets/dummy.png" class="image">
        </div>
    </div>
</div>